<%-include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%-include('../includes/navigation.ejs') %>
    <main class="centered">
      <h1 class="title-page-detail">Product Detail</h1>
      <hr/>
      <div class="main-container-detail">
        <div class="image-detail">
          <img src="<%= product.imageUrl %>" alt="<%= product.title %> "/>
        </div>
        <div class="content-detail">
          <h2 class="title-detail"><%= product.title %></h2>
         <div class="text-detail">
          <h3>Description:</h3>
          <p><%= product.description  %></p>
          <h3 class="price-detail">Price: <%= product.price %></h3>
          <%-include('../includes/add-cart.ejs') %>
         </div>
        </div>
      </div>
    
    </main>

    <%-include('../includes/end.ejs') %>